<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <connectionStrings>
    <!--
    <add name="oledbString" connectionString="Provider=SQLOLEDB.1;Server=123.123.123.41;database=csk;user id=tcyybyj;password=tcyybyj;Persist Security Info=True;Packet Size=4096;" providerName="System.Data.SqlClient"/>
    -->
    <add name="oledbString" connectionString="Provider=MSDAORA.1;User ID=tcyybyj;Password=tcyybyj;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 123.123.123.41)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = csk)))"/>
    <add name="oledbSqlServer" connectionString="Provider=SQLOLEDB.1;Initial Catalog=prot;Data Source=123.123.123.250;User ID=hisfyj;Password=fyjhis"/>
    <add name="strCon" connectionString="server=10.10.10.35;user id=root; password=123456; database=unisky;CharSet = utf8"/>
    <add name="oracleConString" connectionString="User Id=tcyybyj;Password=tcyybyj;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=123.123.123.41)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>